@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.modelo{
    color: v.$blanco;
    margin-top: 5rem;
    text-align: center;

    @include m.tablet{
        text-align: left;
        width: 50%;
    }

    &__nombre{
        font-size: 8rem;
    }
    &__descripcion{}
    &__precio{
        font-size: 6rem;
        color: v.$primario;
        font-weight: 900;
        line-height: 0;

    }
    &__enlace{
        margin-top: 2rem;
        text-decoration: none;
        padding: 1rem 5rem;
        border: 2px solid v.$primario;
        color: v.$blanco;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4rem;
        transition-property: background-color;
        transition-duration: .3s;

        &:hover{
            background-color: v.$primario;
        }
    }
}