@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
    @include m.tablet{
        flex-direction: row;
        margin-top: 0;
    }
  

    &__enlace{
        color: v.$blanco;
        text-decoration: none;
        text-transform: uppercase;
        padding: .5rem;
        font-size: 1.4rem;
        font-weight: 700;
        transition-property:background-color ;
        transition-duration: .3s;
        &:hover{
            background-color: v.$primario;

        }

    }
}